@model DigitalTwinsBackend.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Device details";
}

<h2>Details</h2>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SelectedDeviceItem.Id" class="control-label"></label>
            <input asp-for="SelectedDeviceItem.Id" class="form-control" disabled="disabled" />
            <span asp-validation-for="SelectedDeviceItem.Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeviceItem.Name" class="control-label"></label>
            <input asp-for="SelectedDeviceItem.Name" class="form-control" disabled="disabled" />
            <span asp-validation-for="SelectedDeviceItem.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeviceItem.HardwareId" class="control-label"></label>
            <input asp-for="SelectedDeviceItem.HardwareId" class="form-control" disabled="disabled" />
            <span asp-validation-for="SelectedDeviceItem.HardwareId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeviceItem.Type" class="control-label"></label>
            <select asp-for="SelectedDeviceItem.Type" class="form-control" asp-items="@(new SelectList(Model.DeviceTypeList,"Name","Name"))" disabled="disabled"></select>
            <span asp-validation-for="SelectedDeviceItem.Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeviceItem.SubType" class="control-label"></label>
            <select asp-for="SelectedDeviceItem.SubType" class="form-control" asp-items="@(new SelectList(Model.DeviceSubTypeList,"Name","Name"))" disabled="disabled"></select>
            <span asp-validation-for="SelectedDeviceItem.SubType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeviceItem.ConnectionString" class="control-label"></label>
            <textarea asp-for="SelectedDeviceItem.ConnectionString" class="form-control" rows="2" cols="1" disabled="disabled"></textarea>
            <span asp-validation-for="SelectedDeviceItem.ConnectionString" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a asp-area="" asp-controller="Device" asp-action="Edit" asp-route-id="@Model.SelectedDeviceItem.Id" class="ButtonEdit">Edit Device</a>
            <a asp-area="" asp-controller="Device" asp-action="Delete" asp-route-id="@Model.SelectedDeviceItem.Id" class="ButtonDelete">Delete Device</a>
        </div>
    </div>
    
    <div class="col-md-4">
        <h4>Properties</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        DataType
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Model.SelectedDeviceItem.Properties)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => property.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => property.DataType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => property.Value)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Related Space</h2>
        <div class="spaceEncart">
            <h3>Space</h3>
            <div class="label-group">
                <label asp-for="SelectedDeviceItem.Space.Id" class="label-field"></label>
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedDeviceItem.Space.Id</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedDeviceItem.Space.Name" class="label-field"></label>
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedDeviceItem.Space.Name</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedDeviceItem.Space.FriendlyName" class="label-field"></label>
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedDeviceItem.Space.FriendlyName</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedDeviceItem.Space.ParentSpaceId" class="label-field"></label>
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedDeviceItem.Space.ParentSpaceId</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedDeviceItem.Space.Type" class="label-field"></label>
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedDeviceItem.Space.Type</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedDeviceItem.Space.SubType" class="label-field"></label>
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedDeviceItem.Space.SubType</label>
                    }
                }
            </div>
            <div class="form-group">
                @{ if (Model.SelectedDeviceItem.SpaceId != Guid.Empty)
                    {
                        <a asp-controller="Space" asp-action="Details" asp-route-id="@Model.SelectedDeviceItem.SpaceId" class="ButtonSpaceDetails">Back to Space</a>
                    }
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="label-group" style="display: inline-block;margin: 0px 0px -14px 0px">
            <h2 style="float:left">Sensors</h2>
            <a style="float:left;margin: 25px 0px 0px 20px" asp-controller="Sensor" asp-action="Create" asp-route-deviceId="@Model.SelectedDeviceItem.Id" class="ButtonNew">Add</a>
        </div>
        @foreach (var sensor in Model.SelectedDeviceItem.Sensors)
        {
            <div class="sensorEncart">
                <h3>Sensor</h3>
                <div class="label-group">
                    <label class="label-field">Id</label>
                    <label class="label-value">@sensor.Id</label>
                </div>
                <div class="label-group">
                    <label class="label-field">HardwareId</label>
                    <label class="label-value">@sensor.HardwareId</label>
                </div>
                <div class="label-group">
                    <label class="label-field">PollRate</label>
                    <label class="label-value">@sensor.PollRate</label>
                </div>
                <div class="label-group">
                    <label class="label-field">PortTypeId</label>
                    <label class="label-value">@sensor.PortTypeId</label>
                </div>
                <div class="form-group">
                    <a asp-controller="Sensor" asp-action="Details" asp-route-id="@sensor.Id" class="ButtonSensorDetails">Details</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
