@model DigitalTwinsBackend.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div>
                <h3>Core Properties</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="SelectedDeviceItem.Id" type="hidden" />
                <input asp-for="SelectedDeviceItem.Status" type="hidden" />
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.Id" class="control-label"></label>
                    <input asp-for="SelectedDeviceItem.Id" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.Name" class="control-label"></label>
                    <input asp-for="SelectedDeviceItem.Name" class="form-control" />
                    <span asp-validation-for="SelectedDeviceItem.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.HardwareId" class="control-label"></label>
                    <input asp-for="SelectedDeviceItem.HardwareId" class="form-control" />
                    <span asp-validation-for="SelectedDeviceItem.HardwareId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Space</label>
                    <select asp-for="SelectedDeviceItem.SpaceId" class="form-control" asp-items="@(new SelectList(Model.SpaceList, "Id", "Name"))"></select>
                    <span asp-validation-for="SelectedDeviceItem.SpaceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.Type" class="control-label"></label>
                    <select asp-for="SelectedDeviceItem.Type" class="form-control" asp-items="@(new SelectList(Model.DeviceTypeList, "Name", "Name"))"></select>
                    <span asp-validation-for="SelectedDeviceItem.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.SubType" class="control-label"></label>
                    <select asp-for="SelectedDeviceItem.SubType" class="form-control" asp-items="@(new SelectList(Model.DeviceSubTypeList, "Name", "Name"))"></select>
                    <span asp-validation-for="SelectedDeviceItem.SubType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.Status" class="control-label"></label>
                    <input asp-for="SelectedDeviceItem.Status" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDeviceItem.ConnectionString" class="control-label"></label>
                    <textarea asp-for="SelectedDeviceItem.ConnectionString" class="form-control" rows="5" cols="1"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="updateButton" value="Save" class="ButtonEdit" />
                    <input type="submit" name="updateButton" class="ButtonCancel" value="Cancel" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <div class="detailsEncart">
            <div class="label-group" style="display: inline-block;">
                <h4 style="float:left">Sensors</h4>
                <a style="float:left;margin-top:5px;margin-left:20px" asp-controller="Sensor" asp-action="Create" asp-route-deviceId="@Model.SelectedDeviceItem.Id" class="ButtonNew">Add Sensor</a>
            </div>
            <table class="table" style="margin:0px -10px 0px -10px">
                <thead>
                    <tr>
                        <th>
                            Data Type
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SelectedDeviceItem.Sensors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataType)
                            </td>
                            <td>
                                <a asp-controller="Sensor" asp-action="Edit" asp-route-id="@item.Id" class="ButtonEdit">Edit</a>
                                <a asp-controller="Sensor" asp-action="Delete" asp-route-id="@item.Id" class="ButtonDelete">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

