@model DigitalTwinsBackend.ViewModels.SensorViewModel

@{
    ViewData["Title"] = "Sensor details";
}

<h2>Details</h2>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SelectedSensor.HardwareId" class="control-label"></label>
            <input asp-for="SelectedSensor.HardwareId" class="form-control" disabled="disabled" />
            <span asp-validation-for="SelectedSensor.HardwareId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedSensor.DataUnitType" class="control-label"></label>
            <select asp-for="SelectedSensor.DataUnitType" class="form-control" asp-items="@(new SelectList(Model.DataUnitTypeList,"Name","Name"))" disabled="disabled"></select>
            <span asp-validation-for="SelectedSensor.DataUnitType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedSensor.PollRate" class="control-label"></label>
            <input asp-for="SelectedSensor.PollRate" class="form-control" disabled="disabled" />
            <span asp-validation-for="SelectedSensor.PollRate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedSensor.PortType" class="control-label"></label>
            <input asp-for="SelectedSensor.PortType" class="form-control" disabled="disabled" />
            <span asp-validation-for="SelectedSensor.PortType" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-4">
        <h4>Properties</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        DataType
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Model.SelectedSensor.Properties)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => property.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => property.DataType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => property.Value)

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Values</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SelectedSensor.Value != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SelectedSensor.Value.Timestamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SelectedSensor.Value.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SelectedSensor.Value.Type)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h4>Historical values</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Value</label>
                        </td>
                        <td>
                            <label class="control-label">Description</label>
                        </td>
                    </tr>
                    @foreach (var value in Model.SelectedSensor.Value.HistoricalValues)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => value.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => value.Description)

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Related Space</h2>
        <div class="spaceEncart">
            <h3>Space</h3>
            <div class="label-group">
                <label asp-for="SelectedSensor.Space.Id" class="label-field"></label>
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedSensor.Space.Id</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedSensor.Space.Name" class="label-field"></label>
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedSensor.Space.Name</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedSensor.Space.FriendlyName" class="label-field"></label>
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedSensor.Space.FriendlyName</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedSensor.Space.ParentSpaceId" class="label-field"></label>
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedSensor.Space.ParentSpaceId</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedSensor.Space.Type" class="label-field"></label>
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedSensor.Space.Type</label>
                    }
                }
            </div>
            <div class="label-group">
                <label asp-for="SelectedSensor.Space.SubType" class="label-field"></label>
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <label class="label-value">@Model.SelectedSensor.Space.SubType</label>
                    }
                }
            </div>
            <div class="form-group">
                @{ if (Model.SelectedSensor.SpaceId != Guid.Empty)
                    {
                        <a asp-controller="Space" asp-action="Details" asp-route-id="@Model.SelectedSensor.SpaceId" class="ButtonSpaceDetails">Back to Space</a>
                    }
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Related Device</h2>
        <div class="deviceEncart">
            <h3>Device</h3>
            <div class="label-group">
                <label class="label-field">Id</label>
                <label class="label-value">@Model.SelectedSensor.Device.Id</label>
            </div>
            <div class="label-group">
                <label class="label-field">Name</label>
                <label class="label-value">@Model.SelectedSensor.Device.Name</label>
            </div>
            <div class="label-group">
                <label class="label-field">HardwareId</label>
                <label class="label-value">@Model.SelectedSensor.Device.HardwareId</label>
            </div>
            <div class="label-group">
                <label class="label-field">Type</label>
                <label class="label-value">@Model.SelectedSensor.Device.Type</label>
            </div>
            <div class="label-group">
                <label class="label-field">Status</label>
                <label class="label-value">@Model.SelectedSensor.Device.Status</label>
            </div>
            <div class="form-group">
                <a asp-controller="Device" asp-action="Details" asp-route-id="@Model.SelectedSensor.Device.Id" class="ButtonDeviceDetails">Details</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
