@model DigitalTwinsBackend.ViewModels.MatcherViewModel

@{
    ViewData["Title"] = "AddMatcherCondition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h4>Matcher</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SelectedMatcher.SpaceId" type="hidden" />
            <input asp-for="SelectedMatcher.Id" type="hidden" />
            <input asp-for="UdfId" type="hidden" />
            <div class="form-group">
                <label asp-for="SelectedMatcher.Name" class="control-label"></label>
                <input asp-for="SelectedMatcher.Name" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="SelectedMatcher.SpaceId" class="control-label"></label>
                <input asp-for="SelectedMatcher.SpaceId" class="form-control" disabled="disabled" />
            </div>

            <div class="form-group">
                <h4>Conditions</h4>
                <a asp-controller="Matcher" asp-action="AddCondition" class="ButtonNew" disabled="disabled">Add a new Condition</a>
            </div>

            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Target
                            </th>
                            <th>
                                Path
                            </th>
                            <th>
                                Comparison
                            </th>
                            <th>
                                Value
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var condition in Model.SelectedMatcher.Conditions)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => condition.Target)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => condition.Path)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => condition.Comparison)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => condition.Value)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@condition.Id" class="ButtonEdit" disabled>Edit or Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" name="updateButton" value="Delete" class="ButtonDelete" />
                <input type="submit" name="updateButton" value="Cancel" class="ButtonCancel" />
            </div>
        </form>
    </div>
</div>
